{
  "$schema": "https://json.schemastore.org/prettierrc",
  "semi": false,
  "bracketSpacing": true,
  "trailingComma": "none",
  "printWidth": 120,
  "tabWidth": 2,
  "arrowParens": "avoid",
  "quoteProps": "as-needed"
}
